<!-- greeting.html -->
<html>
  <body>
    <h2>IF YOU DON'T KNOW WHAT ARE YOU DOING, DON'T PROCEED!</h2>
    <p>Press the copy button to copy</p>
    <p>Here is your encrypted/decrypted message:</p>
    <b id="outputtext">{{ name }}</b>
    <button id="copy-btn">Copy</button>
    <br /><br />
    <form method="post">
      <label for="user_name"
        >Enter your message (can be encrypted or decrypted):</label
      >
      <input type="text" id="user_name" name="user_name" required />
      <br />
      <label for="key"
        >The key should be a 8 digit number
        <b>WITHOUT REPEATING THE DIGITS! DON'T USE 0 OR 9 IN KEY!</b></label
      >
      <input type="password" id="key" name="key" required />
      <input type="submit" value="Run" />
    </form>
    <a href="/">Normal Mode!</a>
  </body>
  <script>
    // Get the button and the <b> tag
    const copyBtn = document.querySelector("#copy-btn");
    const outputText = document.querySelector("#outputtext");

    // Add a click event listener to the button
    copyBtn.addEventListener("click", function () {
      // Create a text area element
      const textArea = document.createElement("textarea");
      textArea.textContent = outputText.textContent;
      document.body.appendChild(textArea);
      textArea.select();
      document.execCommand("copy");
      textArea.remove();

      copyBtn.innerHTML = "Copied!";
    });
  </script>
</html>
