<!-- greeting.html -->
<html>
  <body>
    <h2>IF YOU DON'T KNOW WHAT ARE YOU DOING, DON'T PROCEED!</h2>
    <br />
    <p>
      There was a error in the key, please retry and make sure you follow the
      insturtions on using a key or use the normal mode!
    </p>
    <form method="post">
      <label for="user_name"
        >Enter your message (can be encrypted or decrypted):</label
      >
      <input type="text" id="user_name" name="user_name" required />
      <br />
      <label for="key"
        >The key should be a 8 digit number
        <b>WITHOUT REPEATING THE DIGITS! DON'T USE 0 OR 9 IN KEY!</b></label
      >
      <input type="password" id="key" name="key" required />
      <input type="submit" value="Run" />
    </form>
    <a href="/">Normal Mode!</a>
  </body>
</html>
